<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>拼音</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.global.min.js"></script>
    <script src="pinying.js"></script>
    <style>
  .sc-item{
    width: 15%;
	background: #CEF4FD;
	margin:1px;
	padding:2px;
    text-align: center;
    float: left;
  }

  .service-class{
    background: #ab1234;
    margin-top: 1px;
    padding-bottom: 0;
  }
  .sc-list{
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
</head>
<body>
<div id="app">

    <div class="panel panel-info" v-for="pinying in pinyings" >
        <div class="panel-heading">
            <h3 class="panel-title">{{pinying.key}}</h3>
        </div>
        <div class="panel-body">

            <div class="service-class">
                <div class="sc-list">
                    <div class="sc-item"  v-for="v in pinying.value"  >
                        <div class="text" @click="pyClick($event)" :val="v">{{ v }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
const app = {
  data() {
    return {
      pinyings: pinying
    }
  },
  methods: {
    pyClick(e) {
		var target = e.target || window.e.srcElement
	       //获取对应元素的id值
		  //alert(target.getAttribute('val'))
		  //这里是js调用android函数
		  Android.syncExecIntent(target.getAttribute('val'));
		}
	  }
}

Vue.createApp(app).mount('#app')
</script>
</body>
</html>